/* Navigation */
body {
  margin: 0;
  padding: 0;
}

/* Main Body */

.main-container {
  display: flex;
  height: 800px;
  justify-content: space-between;
  gap: 15%;
}

.spell-btn {
  width: 10rem;
  height: 4rem;
  background-color: rgb(110, 255, 66);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  margin-right: 1%;
}
